@import './base.css';

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}

.inline-padding {
  padding-inline: var(--inline-padding);
}

.button {
  display: inline-block;
  padding: 0.2em 0.8em;
  background-color: var(--color-primary);
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.button--secondary {
  background-color: var(--color-secondary);
}

.button--accent {
  background-color: var(--color-accent);
}

.button--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: 50%;
}

.text-red {
  color: var(--color-secondary);
}
